.env
api_keys_org_ids.txt
*.key
*.pem
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

__pycache__/
*.py[cod]
*$py.class
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/
.pyre/
.hypothesis/
.tox/
.nox/
.coverage
.coverage.*
htmlcov/
coverage.xml
nosetests.xml
*.cover
*.py,cover

.DS_Store
.python-version
.ipynb_checkpoints
.ropeproject
.spyderproject
.spyproject

build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
share/python-wheels/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
*.so

instance/
.webassets-cache
.scrapy
docs/_build/
target/
db.sqlite3
db.sqlite3-journal
local_settings.py
pip-log.txt
pip-delete-this-directory.txt
celerybeat-schedule
celerybeat.pid
*.sage.py
dmypy.json
.dmypy.json
profile_default/
ipython_config.py
__pypackages__/

backups/
reports/
unifi/backups/
unifi/reports/
meraki_backup_*/
meraki_backup_sample_*/
*/report.pdf
*/report.html
*_Complete_Report_*.pdf
*_Complete_Report_*.html
*_Executive_Summary_Report_*.pdf
*_Executive_Summary_Report_*.html
*_Backup_Settings_Report_*.pdf
*_Backup_Settings_Report_*.html
